@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.greeting-text{
  font-size: 50px;
}
.author-name{
  color: #FCA507;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-page{
  width: 65%;
  padding: 7%;
}
.hero-image{
  width: 35%;
}
.hero-image img{
  
  /* padding: 7%; */
  width: 70%;
}
p{
  margin: 25px 0;
}
.hire-me-button{
  background-image: linear-gradient(#FCA507, #E92527 );
  text-decoration: none;
  padding: 10px 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
}