@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
h2{
  font-size: 25px;
}
.greeting-text {
  font-size: 50px;
}
.author-name {
  color: #fca507;
}
.flexible-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  margin-top: 20px;
}
.top-banner {
  background-image: url(../images/top-banner.png);
  margin-bottom: 80px;
}
.welcome-text {
  width: 65%;
  padding: 7%;
}
.tag-text {
  margin-top: 10px;
  font-size: 16px;
}
.info-text{
  text-align: justify;
}
.hero-image {
  width: 35%;
}
.hero-image img {
  padding: 7%;
  width: 70%;
}
p {
  margin: 25px 0;
}
.button {
  background-image: linear-gradient(#fca507, #e92527);
  text-decoration: none;
  padding: 10px 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
}
.dream-big {
  background-image: url(../images/dream-bg.png);
  background-position: right;
  margin-bottom: 80px;
}
.about-image img {
  float: right;
}
.card-items{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 6%;
  box-shadow: 10px 10px 35px #b3b0b0;
  margin: 15px 45px;
  border-radius: 10px;
  border-left: 8px solid red;
}
.experience{
  background-image: url(../images/exp-bg.png);
  
}
#full-stack-experience{
  border-image: linear-gradient(#0000ff,#00ffff) 14;
}
#web-development-experience{
  border-image: linear-gradient(#ff0000,#fd5000) 14;
}
footer p{
  text-align: center;
  color: #808080;
}
